.pane {
    -fx-background-color: #2b2927;
 }
.label{
    -fx-text-fill: #d3cbc2;
}
.jfx-text-field, .jfx-password-field
{   -fx-text-fill: #d3cbc2;
    -fx-prompt-text-fill:  #d3cbc2;
    -jfx-focus-color: #d3cbc2;
    -jfx-unfocus-color: #d3cbc2;

}
.jfx-list-view {
    -fx-text-fill: #d3cbc2;
    -fx-background-color: #2b2927;
}

.jfx-text-area {
    -fx-text-fill: #d3cbc2;
    -fx-background-color: #2b2927;
    -fx-prompt-text-fill: #d3cbc2;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.jfx-button {
    -fx-text-fill: #d3cbc2;
    -fx-border-color:  #d3cbc2;
    -fx-border-radius: 5%;
}

.table-view
{   -fx-text-fill: #d3cbc2;
    -fx-background-color: #2b2927;

}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #2b2927;
}
.table-cell {
    -fx-text-fill: #d3cbc2;
    -fx-background-color: #2b2927;
}
.table-cell:filled {
    -fx-text-fill: #d3cbc2;
    -fx-background-color: #2b2927;
}
.table-row-cell:selected>.table-cell:filled,
.table-cell:selected:filled {
    -fx-text-fill: #d3cbc2;
    -fx-background-color: #2b2927;
}

.list-view {
    -fx-background-color: #2b2927;
}

.list-view .list-cell:hover {
    -fx-background-color: #2b2927;
}

.list-view .list-cell:selected {
    -fx-background-color: #2b2927;
}

.list-view .list-cell {
    -fx-background-color: #2b2927;
    -fx-text-fill: #d3cbc2;
}

.list-view .label {
    -fx-text-fill: #d3cbc2;
    -fx-border-color: #d3cbc2;
    -fx-border-radius: 5;
    -fx-padding: 6;
}

.jfx-rippler {
    -jfx-rippler-fill: #2b2927;
}


.combo-box,
.choice-box {

    -fx-prompt-text-fill: #d3cbc2;
    -fx-text-fill: #d3cbc2;
    -fx-background-color: none;
    /*-fx-border-width: 0 0 1 0;
    -fx-border-color: #d3cbc2;*/
    -fx-padding: 0 0 3 -8;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: #d3cbc2;
    -fx-text-fill: #d3cbc2;
    -fx-prompt-text-fill: #d3cbc2;
    -jfx-focus-color: #d3cbc2;
    -jfx-unfocus-color: #d3cbc2;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #d3cbc2;
}
.jfx-combo-box {
    -fx-prompt-text-fill: #d3cbc2;
    -jfx-focus-color: #d3cbc2;
    -jfx-unfocus-color: #d3cbc2;
}
.combo-box .cell {
    -fx-text-fill: #d3cbc2;
}
.combo-box > .cell {
    -fx-text-fill: #d3cbc2;
}
.combo-box > .list-cell {
    -fx-text-fill: #d3cbc2;
}
.jfx-combo-box .label {
    -fx-text-fill: #d3cbc2;
}
.jfx-check-box {
    -fx-prompt-text-fill: #d3cbc2;
    -fx-text-fill: #d3cbc2;
    -jfx-focus-color: #d3cbc2;
    -jfx-unfocus-color: #d3cbc2;
}


